:host{
    height: 100%;
    display: flex;
    background-color: white;
    aside{
        overflow-y: auto;
        height: 100%;
    }
    section{
        height: 100%;
        overflow-y: auto;
        app-player-card{
            width: 80%;
          
        }
    }
    strong{
        font-weight: bolder !important;
    }
    .w-50{
        width: 30% !important;
    }
}