<div class="container">
  <div class="row d-flex justify-content-center">
    <form
      class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5"
      [formGroup]="formGroup"
    >
      <header class="row text-center my-3">
        <h1>Pregunta por una cotización</h1>
      </header>
      <section class="row my-2 py-2">
        <h2 class="col-12">¿Cuántos torneos organiza normalmente por año?</h2>
        <mat-form-field class="example-full-width">
          <input formControlName="tournaments" type="number" matInput placeholder="Torneos" />
        </mat-form-field>
      </section>

      <section class="row my-2 py-2">
        <h2 class="col-12">¿Cuántos equipos maneja normalmente por torneo?</h2>

        <mat-form-field class="example-full-width">
          <input formControlName="teams" type="number" matInput placeholder="Equipos" />
        </mat-form-field>
      </section>

      <section class="row my-2 py-2">
        <h2 class="col-12">Nombre</h2>
        <mat-form-field class="example-full-width">
          <input type="text" formControlName="name" matInput placeholder="Nombre" />
        </mat-form-field>
      </section>

      <section class="row my-2 py-2">
        <h2 class="col-12">Correo Electrónico</h2>
        <mat-form-field class="example-full-width">
          <input type="email" formControlName="email" matInput placeholder="Correo" />
        </mat-form-field>
      </section>


      
      <section class="row my-2 py-2">
        <h2 class="col-12">Teléfono</h2>
        <mat-form-field class="example-full-width">
          <input  formControlName="phone" matInput placeholder="Teléfono" />
        </mat-form-field>
      </section>
      <p *ngIf="error">
        {{ error }}
      </p>
    </form>
  </div>

  <p *ngIf="idResponse" class="text-center">
    <span> Con este identificador </span>
    <span class="text-danger"> {{ idResponse }} </span>
    <span> puedes preguntar por tu cotización o el estdo de la misma </span>
  </p>

  <div class="row d-flex justify-content-center">
    <button
      mat-raised-button
      class="col-6 col-md-5 col-sm-5 col-lg-4 col-xl-3 my-2"
      (click)="sendQuotation()"
      color="primary"
    >
      Enviar
    </button>
  </div>
</div>
