<mat-card>
  <mat-card-header>
    <mat-card-title>{{ team.name }}</mat-card-title>
    <mat-card-subtitle>{{ team.id }}</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    [src]="img || 'assets/badge-team.png'"
    [attr.alt]="'Foto del escudo del equipo' + team.name"
  />

  <mat-card-actions class="d-flex justify-content-center">
    <button
      mat-button
      *ngFor="let option of options; let i = index"
      (click)="emitSelectedOption(i)"
    >
      <mat-icon>
        {{ option }}
      </mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
