<div class="row d-flex h-100 justify-content-center mt-5">
  <div class="col-12 h-100 col-sm-4 col-md-4 col-lg-4 col-xl-4">
    <app-team-card [team]="team"> </app-team-card>
  </div>

  <ng-container *ngIf="team.members && team.members.length > 0 ">
    <div class=" h-100 col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8">
      <h2>Jugadores</h2>

      <div class="players">
        <app-players-summary-list
          [players]="team.members"
        ></app-players-summary-list>
      </div>
    </div>
  </ng-container>
</div>
