<div class="row d-flex">
  <div class="col-4">
    <app-team-card [team]="team"> </app-team-card>
  </div>
  <div class="col-8">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. In cum similique
      suscipit aut alias itaque laudantium repellat dolore quae, ducimus,
      consequuntur tempore aliquid animi ea architecto accusantium corrupti
      magnam id.
    </p>
  </div>
</div>

<h2>Jugadores</h2>

<div class="players">
  <app-players-summary-list [players]="team.players"></app-players-summary-list>
</div>
