<ng-container *ngIf="tournament">
  <header class="d-flex row my-4 align-items-start justify-content-start">
    <h2 class="col-xs-6 col-sm-8 col-md-9 col-lg-10 col-xl-10">
      {{ tournament.name }}
    </h2>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 col-xl-2">
      <span
        class="rounded py-2 px-1"
        [ngClass]="{
          'bg-info': tournament.status === 'in progress',
          'bg-danger': tournament.status === 'canceled'
        }"
      >
        {{ statusMapper[tournament.status] }}
      </span>
    </div>
  </header>
  <section class="d-flex row">
    <div class="col-xs-6 col-sm-5 col-md-4 col-lg-3 col-xl-3">
      <img src="{{ tournament.flayer }}" alt="" srcset="" />
    </div>
    <div
      class="col-xs-6 col-sm-7 col-md-8 col-lg-9 col-xl-9 d-flex flex-column"
    >
      <div class="my-1">
        <strong>Inscripción</strong> {{ tournament.inscription | currency }}
      </div>
      <div class="my-1">
        <strong>Categoría</strong> {{ tournament.category }}
      </div>
      <div class="my-1">
        <strong>Premiación</strong>
        <div
          class="mt-2"
          *ngFor="let prize of tournament.reward; let i = index"
        >
          <strong class="bg-primary text-white py-2 px-2"> {{ i + 1 }}</strong>
          <span class="py-2 px-2 border">
            {{ prize | currency }}
          </span>
        </div>
      </div>
      <p class="mt-4">
        {{ tournament.description }}
      </p>
    </div>
  </section>

  <section class="mt-4" *ngIf="fixtureStages">
    <section *ngFor="let stage of fixtureStages">
      <header>
        <h2>Fase de Grupos ({{ stage.order }})</h2>
      </header>
      <div
        class="border my-1"
        *ngFor="let group of stage.groups; let i = index"
      >
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <strong> Grupo {{ letters[group.index] }} </strong>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-group-card [group]="group"> </app-group-card>
        </mat-expansion-panel>
      </div>
    </section>
  </section>

 
  <!-- <section class="mt-3">
    <header>
      <h3>Equipos inscritos</h3>
      <section class="row">
        <div class="col-2" *ngFor="let team of teams">
          <app-team-card [team]="team"> </app-team-card>
        </div>
      </section>
    </header>
  </section> -->
</ng-container>
