<table class="mt-5">
  <thead>
    <tr>
      <th>Pos</th>
      <th>Equipo</th>

      <th>P.J.</th>

      <th>P.G.</th>

      <th>P.E.</th>

      <th>P.P.</th>

      <th>G.F.</th>
      <th>G.C.</th>
      <th>G.D.</th>
      <th>V.M.V.</th>
      <th>Puntos</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let result of results; let i = index">
      <td>{{ i + 1 }}</td>
      <td>
        <app-team-summary-card [team]="result.team"> </app-team-summary-card>
      </td>
      <td>{{ result.playedMatches }}</td>
      <td>{{ result.wonMatches }}</td>
      <td>{{ result.tiedMatches }}</td>
      <td>{{ result.lostMatches }}</td>
      <td>{{ result.goalsInFavor }}</td>
      <td>{{ result.goalsAgainst }}</td>
      <td>{{ result.goalsDifference }}</td>
      <td>{{ result.goalsAgainstPerMatch }}</td>
      <td>{{ result.points }}</td>
    </tr>
  </tbody>
</table>
