<div class="container py-2">
  <div class="row">
    <div class="col">
      <button [routerLink] = "['./create-team']" mat-button mat-raised-button color="primary">
        Crear un nuevo equipo
      </button>
    </div>
  </div>
  <section class="row">
    <div
      *ngFor="let team of $teams | async"
      class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12 my-2"
    >
      <app-team-card
        (selectedOption)="receiveSelectedOption($event)"
        [options]="options"
        [team]="team"
      >
      </app-team-card>
    </div>
  </section>
</div>
