:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  span {
    color: #24abc1;
  }
  img {
    width: 100%;
    max-width: 350px;
  }
}
