:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px 0;
  border-bottom: 1px solid #ccc;

  > div {
    display: flex;
    flex-direction: column;
    
    justify-content: space-between;

    width: calc(100% - 24px);
    margin: 0;
    padding: 0;
  }
  .edit-option {
    width: 24px;
    cursor: pointer;
  }
}
