<form class="d-flex flex-column" [formGroup]="formGroup">
  <div *ngIf="_teams">
    <mat-form-field class="w-100" appearance="fill">
      <mat-label>Equipo A</mat-label>
      <input
        type="text"
        placeholder="Pick one"
        aria-label="Number"
        matInput
        formControlName="teamA"
        [matAutocomplete]="auto1"
      />
      <mat-autocomplete class="my-3 col-4" #auto1="matAutocomplete">
        <mat-option
          *ngFor="let team of _teams"
          [value]="team.name"
          (click)="optionSelected('teamA', team)"
          
        >
          <app-team-summary-card [team]="team"> </app-team-summary-card>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="w-100" appearance="fill">
      <mat-label>Equipo B</mat-label>
      <input
        type="text"
        placeholder="Equipo B"
        aria-label="Number"
        matInput
        formControlName="teamB"
        [matAutocomplete]="auto2"
      />
      <mat-autocomplete class="my-3 col-4" #auto2="matAutocomplete">
        <mat-option
          *ngFor="let team of _teams"
          [value]="team.name"
          (click)="optionSelected('teamB', team)"
        >
          <app-team-summary-card [team]="team"> </app-team-summary-card>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <mat-form-field class="w-100" appearance="fill">
    <mat-label>Equipos</mat-label>
    <input
      type="date"
      placeholder="Pick one"
      aria-label="Number"
      matInput
      formControlName="date"
    />
  </mat-form-field>

  <div class="d-flex">
    <mat-form-field class="w-50" appearance="fill">
      <mat-label>Score Equipo A</mat-label>
      <input
        type="number"
        placeholder="Pick one"
        aria-label="Number"
        matInput
        formControlName="scoreA"
      />
    </mat-form-field>
    <mat-form-field class="w-50" appearance="fill">
      <mat-label>Score Equipo B</mat-label>
      <input
        type="number"
        placeholder="Pick one"
        aria-label="Number"
        matInput
        formControlName="scoreB"
      />
    </mat-form-field>
  </div>
  <button (click)="save()" mat-button>Guardar</button>
</form>
