<header
  class="row w-100 mt-2 d-flex justify-content-around align-items-start flex-wrap"
>
  <section class="col-12 my-2">
    <button
      appIsAllowed
      identifier="players:create-player:ui"
      mat-button
      mat-raised-button
      (click)="createUser()"
      color="primary"
    >
      Nuevo <mat-icon> add </mat-icon>
    </button>
  </section>
  <section *ngIf="players && players.length > 0" class="col-12">

    <app-items-filter (on-filter)="onChangeForm($event)" [items]="players" [filters]="filters" ></app-items-filter>

  </section>
</header>

<section class="row px-3" *ngIf="filterPlayers && filterPlayers.length > 0; else noPlayers">

  <div
    *ngFor="let player of filterPlayers"
    class="my-1 px-2 py-1 col-12 col-sm-6 col-md-3 col-lg-3 col-xl-2"
  >
    <app-player-card
      (onSelectedPlayer)="onSelectedPlayer(player)"
      [player]="player"
      [actions]="actions"
    >
    </app-player-card>
  </div>
</section>

<ng-template #noPlayers>
  <div class="mt-5 d-flex h-100 justify-content-center align-items-center">
    <app-default-loading class=""> </app-default-loading>
  </div>
</ng-template>
