:host {
  .app-item {
    cursor: pointer;
  }
  $header-height: 64px;
  $sub-header-height: 0px;

  $footer-height: 70px;
  $available-space: calc(100vh - #{$header-height});
  $aside-width: 0px;

  $iso-size: 200px;
  $subheader-height: 30px;
  $menu-footer-height: 40px;
  .iso {
    width: $iso-size;
    height: $iso-size;
  }
  .subheader {
    height: $subheader-height;
  }
  .menu {
    height: calc(100% - #{$iso-size} - #{$subheader-height} - #{$menu-footer-height});
  }
  .menu-footer {
    padding-top: 5px;
    height: $menu-footer-height;
    padding-left: 10px;
  }

  .no-gutters {
    margin-right: 0;
    margin-left: 0;

    > .col,
    > [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
    }
  }
  mat-toolbar {
    height: $header-height;
  }
  .app-container {
    height: calc(100% - #{$header-height});
    width: 100%;

    overflow-x: hidden;
  }
  .app-main-container {
    height: $available-space;
    overflow-x: hidden;
    overflow-y: auto;
    width: calc(100% - #{$aside-width});

    > header {
      height: $sub-header-height;
      padding-left: 15px;
      display: flex;
      align-items: center;
      a {
        text-decoration: underline !important;
      }
    }
    > section {
      height: calc(100% - #{$sub-header-height} - #{$footer-height});
    }
    > footer {
      height: $footer-height;
      padding: 0;
      width: 100%;
      position: absolute;
      bottom: 0;
      padding: 0;
      img {
        width: 100%;
        height: $footer-height;
        padding: 0;
      }
    }
  }
  .ad-aside {
    height: calc(100vh - #{$header-height});
    position: fixed;
    right: 0;
    width: $aside-width;
    overflow-y: hidden;
    padding: 0;
    margin: 0;
    display: flex;
    border-left: 1px solid rgb(196, 196, 196);
  }
}
