<mat-drawer-container class="h-100" autosize>
  <!-- <mat-sidenav position="start">Start</mat-sidenav>
  <mat-sidenav-content>
    <router-outlet> </router-outlet>
  </mat-sidenav-content> -->

  <mat-drawer #drawer class="example-sidenav" mode="side">
    <img width="200px" src="assets/brand/deporty-isologotipo.jpg" alt="" />
    <mat-list role="list">
      <mat-list-item class="app-item" [routerLink]="['./players']"
        >Jugadores</mat-list-item
      >
      <mat-list-item class="app-item" [routerLink]="['./teams']"
        >Equipos</mat-list-item
      >
      <mat-list-item class="app-item" [routerLink]="['./tournaments']"
        >Torneos</mat-list-item
      >
      <mat-list-item class="app-item" [routerLink]="['./tournaments']"
        >Tiendas Deportivas</mat-list-item
      >
    </mat-list>
  </mat-drawer>
  <mat-toolbar color="primary">
    <button
      mat-icon-button
      (click)="drawer.toggle()"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span>Deporty</span>
    <!-- col-xl-11 col-lg-10 col-md-10 col-sm-10 col-xs-10  -->
    <!-- col-xl-1 col-lg-2 col-md-2 col-sm-2 col-xs-2  -->
  </mat-toolbar>
  <div class="d-flex app-container">
    <div class="app-main-container">
      <div class="container-fluid">

        <div class="row no-gutters">
          <router-outlet> </router-outlet>
        </div>
      </div>
      <div class="row no-gutters ad-footer">
        <img src="./assets/ads/xl.png" alt="" srcset="" />
      </div>
    </div>

    <aside class="ad-aside">
      <img src="./assets/ad-vertical.jpg" width="100%" alt="" srcset="" />
    </aside>
  </div>
</mat-drawer-container>
