:host {
  .app-item {
    cursor: pointer;
  }
  $header-height: 64px;
  $footer-height: 70px;
  $available-space: calc(100vh - #{$header-height} - #{$footer-height});
  $aside-width: 100px;

  .no-gutters {
    margin-right: 0;
    margin-left: 0;

    > .col,
    > [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
    }
  }

  .app-container {
    height: calc(100% - #{$header-height});
    width: 100%;

    overflow-x: hidden;
  }
  .app-main-container {
    height: $available-space;
    overflow-x: hidden;
    overflow-y: auto;
    width: calc(100% - #{$aside-width});
    // background-color: rgba(185, 185, 36, 1);

   
  }
  .ad-aside {
    height: calc(100vh - #{$header-height});
    // background-color: #e74c3c;
    position: fixed;
    right: 0;
    width: $aside-width;
    overflow-y: hidden;
    padding: 0;
    margin: 0;
    display: flex;
    border-left: 1px solid rgb(196, 196, 196);
  }
  .ad-footer {
    height: $footer-height;
    // display: none;
    padding: 0;
    background-color: gray;
    width: 100%;
    // border: 1px solid blue;
    position: absolute;
    bottom: 0;
    padding: 0;
    img {
      width: 100%;
      height: $footer-height;
      padding: 0;
    }
  }
}
