<mat-drawer-container class="h-100" autosize>

  <mat-drawer #drawer class="example-sidenav" [mode]="mode">
    <img
      width="200px"
      [routerLink]="['./home']"
      src="assets/brand/deporty-isologotipo.jpg"
      alt=""
    />
    <div class="w-100 d-flex justify-content-center">
      <small class="align-text-bottom" *ngIf="user">{{ user.email }}</small>
    </div>

    <mat-list role="list">
      <mat-list-item
        (click)="mode == 'over' && drawer.close()"
        class="app-item"
        [routerLink]="['./players']"
        >Jugadores</mat-list-item
      >
      <mat-list-item
        (click)="mode == 'over' && drawer.close()"
        class="app-item"
        [routerLink]="['./teams']"
        >Equipos</mat-list-item
      >
      <mat-list-item
        (click)="mode == 'over' && drawer.close()"
        class="app-item"
        [routerLink]="['./tournaments']"
        >Torneos</mat-list-item
      >
      <!-- <mat-list-item (click)="mode == 'over' && drawer.close()" class="app-item" [routerLink]="['./tournaments']"
        >Tiendas</mat-list-item
      > -->
      <mat-list-item
        (click)="mode == 'over' && drawer.close()"
        color="primary"
        class="app-item"
        (click)="closeSession()"
        >Cerrar Sesión</mat-list-item
      >
    </mat-list>
  </mat-drawer>
  <mat-toolbar color="primary">
    <div class="d-flex w-100 justify-content-start align-items-center">
      <button
        mat-icon-button
        (click)="drawer.toggle()"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <div
        class="d-flex w-100 flex-wrap align-items-center justify-content-between"
      >
        <h1 class="align-text-bottom">Deporty</h1>
      </div>
    </div>
  </mat-toolbar>
  <div class="d-flex app-container">
    <div class="app-main-container">
      <div class="container-fluid p-0 h-100">
        <div class="row no-gutters h-100">
          <router-outlet> </router-outlet>
        </div>
      </div>
      <div class="row no-gutters ad-footer">
        <img src="./assets/ads/xl.png" alt="" srcset="" />
      </div>
    </div>

    <aside class="ad-aside">
      <img src="./assets/ad-vertical.jpg" width="100%" alt="" srcset="" />
    </aside>
  </div>
</mat-drawer-container>
