<mat-card>
  <img
    mat-card-image
    src="{{
      tournament.flayer ||
        'https://firebasestorage.googleapis.com/v0/b/deporty-app.appspot.com/o/default-pictures%2Fdefault-player-profile.png?alt=media&token=fa007b78-7fc5-41cd-a14a-cae5c7d9fd88'
    }}"
    class="card-img-top"
    alt="   {{ tournament.name }}"
  />
  <mat-card-content>
    <div class="d-flex justify-content-center">
      <strong class="card-title text-center">
        {{ tournament.name }}
      </strong>
    </div>
    <p *ngIf="tournament.startsDate" class="text-center">
      <strong> Fecha de inicio: </strong> {{ tournament.startsDate | timestamp }}
    </p>
  </mat-card-content>
</mat-card>
