<mat-card>
  <img
    *ngIf="img"
    mat-card-image
    src="{{ img }}"
    class="card-img-top"
    alt="   {{ tournament.name }}"
  />
  
  <mat-card-content>
    <div class="d-flex justify-content-center">
      <strong class="card-title text-center">
        {{ tournament.name }}
      </strong>
    </div>
    <p *ngIf="tournament.startsDate" class="text-center">
      <strong> Fecha de inicio: </strong>
      {{ tournament.startsDate | timestamp }}
    </p>
  </mat-card-content>
</mat-card>
