<ng-container *ngIf="match">
  <div class="row py-3 align-items-center">
    <div class="col-sm-6 h-100">
      <div class="row my-3 px-3  d-flex align-items-center">
        <div class="d-flex col-5">
          <app-team-summary-card [team]="match.teamA"> </app-team-summary-card>
          <strong class="mx-2" *ngIf="match.score">{{
            match.score.teamA
          }}</strong>
        </div>
        <span class="col-2 text-center"> v </span>
        <div class="d-flex col-5 justify-content-end">
          <strong class="mx-2" *ngIf="match.score">{{
            match.score.teamB
          }}</strong>
          <app-team-summary-card [team]="match.teamB"> </app-team-summary-card>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <ng-container *ngIf="formGroup">
        <form [formGroup]="formGroup" class="row align-items-center">
          <mat-form-field
            class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4"
            appearance="fill"
          >
            <mat-label>Fecha</mat-label>
            <input
              placeholder="Pick one"
              matInput
              [matDatepicker]="picker"
              formControlName="date"
            />

            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field
            class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4"
            appearance="fill"
          >
            <mat-label>Hora</mat-label>
            <input
              type="hour"
              placeholder="Pick one"
              aria-label="Number"
              matInput
              formControlName="hour"
            />
          </mat-form-field>

          <mat-form-field
            class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4"
            appearance="fill"
          >
            <mat-label>Cancha</mat-label>
            <input
              type="text"
              placeholder="Pick one"
              matInput
              formControlName="playground"
              [matAutocomplete]="auto1"
            />
            <mat-autocomplete class="my-3 col-4" #auto1="matAutocomplete">
              <mat-option value="Cancha 1">Cancha 1 </mat-option>
              <mat-option value="Cancha 2">Cancha 2 </mat-option>
              <mat-option value="Cancha 3">Cancha 3 </mat-option>
              <mat-option value="Cancha 4">Cancha 4 </mat-option>
              <mat-option value="Cancha 5">Cancha 5 </mat-option>
              <mat-option value="Cancha 6">Cancha 6 </mat-option>
              <mat-option value="Cancha 7">Cancha 7 </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
      </ng-container>
    </div>
  </div>

  <ng-container>
    <div class="row">
      <div class="col players-container mb-5" *ngIf="playersA">
        <div class="my-2 py-2 justify-content-center d-flex">
          <app-team-summary-card [team]="match.teamA"> </app-team-summary-card>
        </div>

        <app-player-form
          [players]="playersA"
          [players-form]="match.playerForm?.teamA"
          (emit-data)="updateTeamA($event)"
          [stadistics]="match.stadistics?.teamA || []"
        >
        </app-player-form>
      </div>

      <div class="col players-container mb-3" *ngIf="playersB">
        <div class="my-2 py-2 justify-content-center d-flex">
          <app-team-summary-card [team]="match.teamB"> </app-team-summary-card>
        </div>
        <app-player-form
          [players]="playersB"
          [players-form]="match.playerForm?.teamB"
          (emit-data)="updateTeamB($event)"
          [stadistics]="match.stadistics?.teamB || []"
        >
        </app-player-form>
      </div>
    </div>
  </ng-container>
  <div class="row d-flex justify-content-center py-2 my-2">
    <div class="col d-flex justify-content-center">
      <button mat-raised-button (click)="saveData()">Guardar</button>
    </div>
  </div>
  <div *ngIf="status == 'pending'" class="row">
    <div class="col d-flex justify-content-center">
      <mat-spinner></mat-spinner>
    </div>
  </div>
</ng-container>
