<mat-form-field class="w-100" appearance="fill">
  <mat-label>Equipos</mat-label>
  <input
    type="text"
    placeholder="Pick one"
    aria-label="Number"
    matInput
    [formControl]="formControl"
    [matAutocomplete]="auto"
  />
  <mat-autocomplete class="my-3 col-4" #auto="matAutocomplete">
    <mat-option
      *ngFor="let team of _teams"
      [value]="team.name"
      (click)="optionSelected(team)"
    >
      <app-team-summary-card [team]="team">
      </app-team-summary-card>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>

<mat-chip-list aria-label="Fish selection">
  <mat-chip
    *ngFor="let team of selectedTeams"
    (click)="remove(team)"
    >{{ team.name  }}
  </mat-chip>
</mat-chip-list>

<button *ngIf="showButton" mat-button color="primary" (click)="sendData()">
  Agregar
</button>