
<mat-card>
  <img
    mat-card-image
    src="{{ player.image || 'https://firebasestorage.googleapis.com/v0/b/deporty-app.appspot.com/o/default-pictures%2Fdefault-player-profile.png?alt=media&token=fa007b78-7fc5-41cd-a14a-cae5c7d9fd88' }}"
    class="card-img-top "
    alt="   {{ player.name }}"
  />
  <mat-card-content>
    <h5 class="card-title text-center">
      <button mat-button mat-raised-button color="primary">
        {{ player.name }}
      </button>
    </h5>
    <p class="text-center">
      {{ player.alias }}
    </p>
    <p class="card-text text-white bg-secondary py-2 px-2 text-center">
      {{ player.role }} ({{ player.number }})
    </p>
  </mat-card-content>
</mat-card>
