:host {
  display: flex;
  flex-direction: column;
  .position-table {
    overflow-x: auto;
  }
  .app-mat-list-item {
    min-height: 110px;
  }
  .matches {
    max-height: 300px;
    overflow-y: auto;
  }
}
