<div class="row d-flex">
  <section
    class="border col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
    *ngIf="group"
  >
    <strong mat-subheader
      >Equipos
      <button
        mat-button
        (click)="onAddTeam.emit({ order: group.order, stageId: stageId })"
      >
        <mat-icon #addTeam *ngIf="addTeamFlag" color="primary"
          >add_circle</mat-icon
        >
      </button>
    </strong>

    <section class="d-flex flex-wrap">
      <div class="col-6 py-1 px-2" *ngFor="let team of group.teams">
        <app-team-summary-card [team]="team"> </app-team-summary-card>
      </div>
    </section>
  </section>

  <section
    class="border p-0 col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
    *ngIf="group"
  >
    <strong mat-subheader
      >Partidos
      <button
        mat-button
        (click)="onAddMatch.emit({ order: group.order, stageId: stageId })"
      >
        <mat-icon #addMatch *ngIf="addMatchFlag" color="primary"
          >add_circle</mat-icon
        >
      </button>
    </strong>

    <section class="matches p-0">
      <app-match-summary-card
        *ngFor="let match of group.matches"
        [match]="match"
        [edit-flag]="editMatchFlag"
        (on-edit-match)="onEditMatch.emit({ order: group.order, stageId: stageId, match: match })"
      >
      </app-match-summary-card>
    </section>
  </section>
</div>
<div *ngIf="results && results.length > 0" class="position-table row">
  <app-position-table-card class="col-12 mt-2 mb-2" [results]="results">
  </app-position-table-card>
</div>
