<ng-container *ngIf="tournament">
  <header class="d-flex row my-4 align-items-start justify-content-start">
    <h2 class="col-6 col-sm-8 col-md-9 col-lg-10 col-xl-10">
      {{ tournament.name }}
    </h2>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 col-xl-2">
      <span
        class="rounded py-2 px-1"
        [ngClass]="{
          'bg-info': tournament.status === 'in progress',
          'bg-danger': tournament.status === 'canceled'
        }"
      >
        {{ statusMapper[tournament.status] }}
      </span>
    </div>
  </header>
  <section class="d-flex row">
    <div *ngIf="img" class="col-12 col-sm-5 col-md-4 col-lg-3 col-xl-3">
      <img src="{{ img }}" alt="" srcset="" />
    </div>
    <div class="col-12 col-sm-7 col-md-8 col-lg-9 col-xl-9 d-flex flex-column">
      <div class="my-1">
        <strong>Inscripción</strong> {{ tournament.inscription | currency }}
      </div>
      <div class="my-1">
        <strong>Categoría</strong> {{ tournament.category }}
      </div>
      <div class="my-1">
        <strong>Premiación</strong>
        <div
          class="mt-2"
          *ngFor="let prize of tournament.reward; let i = index"
        >
          <strong class="bg-primary text-white py-2 px-2"> {{ i + 1 }}</strong>
          <span class="py-2 px-2 border">
            {{ prize | currency }}
          </span>
        </div>
      </div>
      <p class="mt-4">
        {{ tournament.description }}
      </p>
    </div>
  </section>
  <section class="my-5" *ngIf="markersTable">
    <div class="row">
      <h2>Tabla de posiciones</h2>
    </div>
    <div class="row">
      <table class="px-2 text-center">
        <thead>
          <tr>
            <th>Jugador</th>
            <th>Equipo</th>
            <th>Goles marcados</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of markersTable">
            <td>{{ row.player }}</td>
            <td>{{ row.team }}</td>
            <td>{{ row.goals }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>

  <section class="my-5" *ngIf="fixtureStages">
    <section *ngFor="let stage of fixtureStages">
      <header>
        <h2>Fase de Grupos ({{ stage.order }})</h2>
        <button
          mat-raised-button
          appIsAllowed
          identifier="tournaments:create-group:ui"
          class="col-12 col-sm-3 col-md-3 col-lg-2 col-xl-2"
          color="primary"
          (click)="openCreateGroupDialog(stage.id || '')"
        >
          Agregar grupo
        </button>
      </header>
      <div
        class="border my-1"
        *ngFor="let group of stage.groups; let i = index"
      >
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <strong> Grupo {{ group.label }} </strong>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <app-group-card
            (on-add-team)="onAddTeam($event)"
            (on-add-match)="onAddMatch($event)"
            (on-edit-match)="onEditMatch($event)"
            [add-match-flag]="isAllowedToAddMatch()"
            [add-team-flag]="isAllowedToAddTeam()"
            [edit-match-flag]="isAllowedToEditMatch()"
            stage-id="{{ stage.id }}"
            [group]="group"
          >
          </app-group-card>
        </mat-expansion-panel>
      </div>
    </section>
  </section>
  <br />
  <br />
  <br />
</ng-container>
