<ng-container *ngIf="tournament">
  <mat-drawer-container class="h-100">
    <mat-drawer
      #drawer
      class="col-11 col-sm-8 col-md-6 col-lg-4 col-xl-3 h-100"
      position="end"
      mode="over"
    >
      <section class="d-flex row justify-content-center">
        <figure *ngIf="img" class="col-12">
          <img src="{{ img }}" alt="" srcset="" />
        </figure>
      </section>
      <section class="row">
        <div class="col-12 px-3 d-flex flex-column">
          <span
            class="rounded text-white py-1 px-2"
            [ngClass]="{
              'bg-info': tournament.status === 'in progress',
              'bg-danger': tournament.status === 'canceled'
            }"
          >
            {{ statusMapper[tournament.status] }}
          </span>
          <div class="my-1">
            <strong>Inscripción</strong>
            {{ tournament.inscription | currency }}
          </div>
          <div class="my-1">
            <strong>Categoría</strong> {{ tournament.category }}
          </div>
          <div class="my-1">
            <strong>Premiación</strong>
            <div
              class="mt-2"
              *ngFor="let prize of tournament.reward; let i = index"
            >
              <strong class="bg-primary text-white py-2 px-2">
                {{ i + 1 }}</strong
              >
              <span class="py-2 px-2 border">
                {{ prize | currency }}
              </span>
            </div>
          </div>
          <p class="mt-4">
            {{ tournament.description }}
          </p>
        </div>
      </section>
    </mat-drawer>
    <mat-drawer-content class="px-3 bg-white">
      <mat-toolbar
        class="my-4 py-2 bg-white align-items-start d-flex row align-items-center justify-content-between"
      >
        <div
          class="col-12 col-sm-4 col-md-3 col-lg-2 col-xl-2 d-flex flex-column border-bottom-0"
        >
          <strong class="display-3">{{ tournament.name }}</strong>
          <button
            mat-icon-button
            appIsAllowed
            identifier="tournaments:create-group:ui"
            class="col-12 col-sm-3 col-md-3 col-lg-1 col-xl-1"
            color="primary"
            (click)="registerTeamIntoTournament()"
            matTooltip="Inscribir equipo"
          >
            <mat-icon> group_add </mat-icon>
          </button>
        </div>
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon> arrow_forward_ios </mat-icon>
        </button>
      </mat-toolbar>

      <mat-tab-group>

        <mat-tab label="General">
         

          <section class="my-5" *ngIf="fixtureStages">
            <section *ngFor="let stage of fixtureStages">
              <header class="d-flex align-items-center justify-content-between">
                <h2 class="m-0">
                  Fase de Grupos ({{ getNameByStage(stage.order) }})
                </h2>
                <section>
                  <button
                    mat-icon-button
                    appIsAllowed
                    identifier="tournaments:create-group:ui"
                    class="col-12 col-sm-3 col-md-3 col-lg-1 col-xl-1"
                    color="primary"
                    (click)="openCreateGroupDialog(stage.id || '')"
                    matTooltip="Agregar grupo"
                  >
                    <mat-icon>group_work</mat-icon>
                  </button>
                </section>
              </header>

              <div
                class="border my-1"
                *ngFor="let group of stage.groups; let i = index"
              >
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <strong> Grupo {{ group.label }} </strong>
                    </mat-panel-title>
                  </mat-expansion-panel-header>

                  <app-group-card
                    (on-add-team)="onAddTeam($event)"
                    (on-add-match)="onAddMatch($event)"
                    (on-edit-match)="onEditMatch($event)"
                    [add-match-flag]="isAllowedToAddMatch()"
                    [add-team-flag]="isAllowedToAddTeam()"
                    [edit-match-flag]="isAllowedToEditMatch()"
                    stage-id="{{ stage.id }}"
                    [group]="group"
                  >
                  </app-group-card>
                </mat-expansion-panel>
              </div>
            </section>
          </section>

          <div
            *ngIf="!fixtureStages || fixtureStages.length == 0"
            class="d-flex justify-content-center"
          >
            <app-no-content
              class="col-12 col-sm-8 col-md-6"
              text="No hay etapas en el torneo"
            ></app-no-content>
          </div>
        </mat-tab>
        <mat-tab label="Estadísticas">

      
          <mat-tab-group mat-align-tabs="center" animationDuration="10ms">
            <mat-tab label="Goleadores">
              <mat-card class="mx-2" *ngFor="let row of markersTable">
                <div class="row">
                  <div class="col-9">
                    <div class="row d-flex align-items-center">
                      <div class="col-12 col-sm-6 d-flex align-items-center">
                        <figure>
                          <img
                            [src]="'assets/default-player-profile.png'"
                            alt=""
                            srcset=""
                            class="w-100 rounded-circle"
                          />
                        </figure>
                        <span>
                          {{ row.player.name }} {{ row.player.lastName }}
                        </span>
                      </div>
                      <div class="col-12 col-sm-6 d-flex align-items-center">
                        <figure>
                          <img
                            [src]="row.badge || 'assets/badge-team.png'"
                            alt=""
                            srcset=""
                            class="w-100"
                          />
                        </figure>
                        <span>
                          {{ row.team }}
                        </span>
                      </div>
                    </div>
                  </div>

                  <div
                    class="col-2 text-center flex-column d-flex align-items-center justify-content-center"
                  >
                    <span>
                      <strong class="text-danger display-6">
                        {{ row.goals }}
                      </strong>
                    </span>
                    <span> Goles </span>
                  </div>
                </div>
              </mat-card>
            </mat-tab>
            <mat-tab label="Valla menos vencida">
              <div class="d-flex justify-content-center">
                <div class="col-8 col-sm-6 col-md-6 col-lg-4 col-xl-3 my-2">
                  <app-comming-soon> </app-comming-soon>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="Tarjetas Amarillas">
              <div class="d-flex justify-content-center">
                <div class="col-8 col-sm-6 col-md-6 col-lg-4 col-xl-3 my-2">
                  <app-comming-soon> </app-comming-soon>
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>



        </mat-tab>

      
        <mat-tab label="Equipos Registrados">
          <div class="w-100 px-3 h-100 d-flex flex-wrap justify-content-start row pt-3">
            <div
              class="d-flex flex-column my-2 p-2 rounded col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3"
              *ngFor="let item of tournament.registeredTeams"
            >
              <app-team-summary-card [team]="item.team"></app-team-summary-card>
              <span>{{ item.enrollmentDate | date }}</span>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>

      <br />
      <br />
      <br />
    </mat-drawer-content>
  </mat-drawer-container>
</ng-container>
