:host {
  padding: 0;
  img {
    width: 100%;
  }
  mat-card {
    figure {
      width: 50px;
      margin: 5px;
    }

  }
  mat-toolbar{
    height: min-content;
    
  }
  min-height: 100%;
  margin-bottom: 50px;
}
