<div
  class="d-flex align-items-center justify-content-ekvenly"
  *ngFor="let player of players"
>
  <mat-checkbox
    [checked]="isSelected(player)"
    (change)="selectPlayer(player)"
    class="mx-2"
  ></mat-checkbox>
  <mat-expansion-panel class="w-100">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <app-player-summary-card [player]="player"> </app-player-summary-card>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-goal-form
      (onChange)="onAddGoal($event, player)"
      title="Goles"
      [total-goals]="
        getStadisticByPlayer(player)
          ? getStadisticByPlayer(player).totalGoals
          : 0
      "
    ></app-goal-form>
    <hr />
    <app-card-form
      (onChange)="onAddCard($event, player, 'yellowCards')"
      title="Tarjetas Amarillas"
      [total-cards]="
        !!getStadisticByPlayer(player) && getStadisticByPlayer(player).totalYellowCards
          ? getStadisticByPlayer(player).totalYellowCards
          : 0
      "
    ></app-card-form>



    <hr />
    <app-card-form
      title="Tarjetas Rojas"
      [total-cards]="
        getStadisticByPlayer(player) &&  getStadisticByPlayer(player).totalRedCards
          ? getStadisticByPlayer(player).totalRedCards
          : 0
      "
    ></app-card-form>
  </mat-expansion-panel>
</div>
