<section class="d-flex row pt-3 w-100 justify-content-between">
  <div class="d-flex  col-5">
    <app-team-summary-card [team]="match.teamA"> </app-team-summary-card>
    <strong class="mx-2" *ngIf="match.score">{{ match.score.teamA }}</strong>
  </div>
  <span class="col-2 text-center"> v </span>
  <div class="d-flex  col-5 justify-content-end">
    <strong class="mx-2" *ngIf="match.score">{{ match.score.teamB }}</strong>
    <app-team-summary-card [team]="match.teamB"> </app-team-summary-card>
  </div>
</section>
<span class="py-3" *ngIf="match.date">{{ match.date | date : 'medium' }}</span>
